.circle-chart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-bg {
  fill: none;
  stroke: #e6e6e6;
}

.circle-progress {
  fill: none;
  stroke: rgb(var(--secondary-color));
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.circle-text {
  //   font-size: 20px;
  fill: #333;
}
