.dashboard {
  .welcome-image {
    bottom: -23px;
    right: 0;

    img {
      width: clamp(298px, 4vw, 103px);
    }
  }

  .performance {
  }

  .visit {
  }

  .teachers {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    &.events {
      img {
        width: 45px;
        height: 45px;
      }
    }
  }

  .calender {
    position: relative;
    height: 60vh;
    overflow: hidden scroll;
    scrollbar-width: none;

    .calender-header {
      position: sticky;
      top: 0;
      // overflow: auto hidden;
      min-height: 20px;
      background-color: rgb(var(--card-bg));
    }

    .eventImg {
      width: 28px;
      height: 28px;
      color: rgb(var(--fx-theme-color));
      background-color: rgb(var(--button-bg));
      border-radius: 50%;
    }

    .event-box-active {
      background-color: rgb(var(--fx-theme-color));
      color: rgb(var(--fx-white));
      border-radius: 10px;
      .eventImg {
        background-color: rgb(var(--fx-light-gray));
      }
    }

    .event-top-border {
      position: relative;
      border-top: 3px dashed rgb(var(--fx-black), 0.5);
      margin-left: 2.5rem;
      z-index: 1;

      &::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        top: -6px;
        left: 0px;
        border-radius: 50%;
        z-index: 2;
        background-color: #6c757d;
      }
    }

    // .event-top-border {
    //   position: relative;

    //   &::before {
    //     position: absolute;
    //     content: "";
    //     width: 100%;
    //     height: 1px;
    //     top: -17px;
    //     right: 3px;
    //     border: 2px dashed rgb(var(--fx-black), 0.5);
    //   }
    // }

    .event-box {
      position: relative;
      background-color: rgb(var(--fx-light-gray));
      color: rgb(var(--fx-black));
      border-radius: 10px;

      &::after {
        position: absolute;
        content: "";
        width: 4px;
        height: 85%;
        left: -15px;
        background-color: rgb(var(--fx-theme2-color));
        border-radius: 30px;
      }
    }
  }

  .upcoming-events {
    // .three-dots {
    //   cursor: pointer;
    //   transform: rotate(272deg);
    // }
  }
}

@media (max-width: 767px) {
  .welome-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .welcome-image {
      text-align: center;
      position: static !important;
    }
  }
}

@media (max-width: 400px) {
  .dashboard {
    .welcome-image {
      img {
        width: clamp(200px, 4vw, 103px);
      }
    }
  }
}
