.header.active {
  // width: calc(100% - 65px);
  // left: 80px;
  // margin-left: 80px;

  margin-left: 63px;
  transition: 0.5s ease all;
}

.header-main {
  z-index: 999999;
}

.header {
  max-width: 100%;
  height: 3.75rem;
  z-index: 100;
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  background: rgb(var(--body-bg));
  transition: 0.5s ease all;

  .topbar {
    width: 100%;
    height: 60px;
    padding: 0 10px;

    .mail {
      border-left: 2px solid rgba(var(--border-color), 0.2);
      border-right: 2px solid rgba(var(--border-color), 0.2);

      .notification {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          background-color: rgb(var(--primary-color));
          top: 10px;
          right: 3px;
          transform: translate(1px, 2px);
          border-radius: 50%;
        }
      }
    }

    .toggle {
      font-size: 1.8rem;
      cursor: pointer;
    }

    .search {
      width: clamp(200px, 30vw, 300px);
      margin: 0 10px;
      position: relative;

      input {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        padding: 5px;
        padding-left: 20px;
        outline: none;
        border: none;
        background-color: rgb(var(--card-bg));
      }

      label {
        position: absolute;
        top: 3px;
        right: 13px;
        font-size: 1.2rem;
      }
    }

    .user {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 991.9px) {
  .header {
    margin-left: 0px;
    width: 100%;

    &.active {
      width: 100%;
      margin-left: 0;
      left: 0;
    }
  }
}

@media (min-width: 992px) {
  .header {
    margin-left: 280px;
  }
}
