// sidebar

.cross-mark {
  position: absolute;
  top: 0.8rem;
  z-index: 99999999;
  left: 10.5rem;
  cursor: pointer;
}

.navigation {
  top: 0;
  position: fixed;
  // width: 300px;
  width: 280px;
  height: 100vh;
  background: rgb(var(--primary-color));
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: 0.5s;
  overflow: hidden;
  left: 0;
  z-index: 999999;

  &.active {
    width: 61px;
    background: transparent;
  }

  .logo-brand {
    margin-bottom: 15px;
    height: 60px;
    pointer-events: none;
  }

  .sidebar-label-ul {
    width: 100%;
    padding-left: 0;
    height: 87vh;
    scrollbar-width: none;
    overflow: hidden auto;
    padding-top: 1rem;
    margin-left: 4px;

    .logout {
      a {
        color: rgb(var(--fx-white));
      }
    }

    li.sidebar-link {
      width: 100%;
      list-style-type: none;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;

      a {
        position: relative;
        display: block;
        width: 100%;
        font-weight: 500;
        text-decoration: none;
        color: rgb(var(--fx-white));

        .title {
          display: block;
          padding: 0 15px;
          height: 55px;
          line-height: 55px;
          text-align: start;
          white-space: nowrap;
        }
      }

      &:hover {
        background-color: rgb(var(--body-bg));

        a {
          color: rgb(var(--text-default-color));
        }
      }

      &.active {
        background-color: rgb(var(--body-bg));

        a {
          color: rgb(var(--text-default-color));
        }
      }
    }
  }
}

.icons-sidebar {
  background-color: rgb(var(--secondary-color));
  border-radius: 30px;
  width: fit-content !important;
  height: 100vh;
  padding-left: 0;
  padding-top: 5.6rem;
  color: rgb(var(--fx-white));

  .link-icon {
    display: block;
    min-width: 60px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    cursor: pointer;

    a {
      color: rgb(var(--fx-white));
    }

    &:hover {
      box-shadow: inset 5px 0px rgb(var(--fx-white));
      transition: 0.5s ease all;
    }

    &.active {
      box-shadow: inset 5px 0px rgb(var(--fx-white));
      transition: 0.5s ease all;
    }
  }
}

// curve outside
.navigation {
  ul {
    .sidebar-link {
      &:is(:hover, .active, :focus) {
        a {
          &::before {
            content: "";
            position: absolute;
            right: 4px;
            top: -50px;
            width: 50px;
            height: 50px;
            background-color: transparent;
            border-radius: 50%;
            box-shadow: 35px 35px 0 10px rgb(var(--body-bg));
            pointer-events: none;
          }
          &::after {
            content: "";
            position: absolute;
            right: 4px;
            bottom: -50px;
            width: 50px;
            height: 50px;
            background-color: transparent;
            border-radius: 50%;
            box-shadow: 35px -35px 0 10px rgb(var(--body-bg));
            pointer-events: none;
          }
        }
      }
    }
  }
}

@media (max-width: 991.9px) {
  .navigation {
    width: 0px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    &.active {
      width: 245px;
      background: rgb(var(--primary-color));
    }

    .title {
      // display: none;
    }
  }
  .main-body {
    margin-left: 0px;
  }
}
